@inherits LayoutComponentBase

<div class="layout-container">

    <header class="top-bar">
        <button class="menu-btn" @onclick="ToggleMenu">☰</button>
        <span class="title">Filmaholic</span>
    </header>

    <div class="content-wrapper">

        <div class="sidebar @(showMenu ? "open" : "")">
            <NavMenu OnNavigate="CloseMenu" />
        </div>

        <main class="main-content">
            @Body
        </main>

    </div>

</div>

@code {
    private bool showMenu;

    private void ToggleMenu()
    {
        showMenu = !showMenu;
        Console.WriteLine($"Menu: {showMenu}");
    }
    private void CloseMenu()
    {
        showMenu = false;
    }
}