@page "/"
@using Filmaholic.Shared.Records
@using Filmaholic.App.Services;

@inject MovieService MovieService

<h3>Movies</h3>

@if (movies == null)
{
    <p>Loading...</p>
}
else
{
    foreach (var movie in movies)
    {
        <p>@movie.Title (@movie.Year)</p>
    }
}

@code {
    private List<GetMovieRecord>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetMoviesAsync();
    }
}