@page "/"
@page "/movies"
@using Filmaholic.Shared.Dtos
@using Filmaholic.App.Services;

@inject MovieService MovieService

<h3>Movies</h3>

@if (movies == null)
{
    <p>Loading...</p>
}
else if (movies.Count == 0)
{
    <p>No movies found.</p>
}
else
{
    foreach (var movie in movies)
    {
        <p>@movie.Title (@movie.Year)</p>
    }
}

@code {
    private List<GetMovieDto>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetMoviesAsync();
    }
}