@page "/"
@page "/movies"
@inject NavigationManager Nav
@using Filmaholic.Shared.Dtos
@using Filmaholic.App.Services;

@inject MovieService MovieService

<h3>Movies</h3>

@if (movies == null)
{
    <p>Loading...</p>
}
else if (movies.Count == 0)
{
    <p>No movies found.</p>
}
else
{
    @foreach (var movie in movies)
    {
        <a href="/movie/@movie.Id">
            @movie.Title (@movie.Year)
        </a>
        <br />
    }
}

@code {
    private List<GetMovieDto>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetMoviesAsync();
    }
}